body {
    /*font-family: 'Fira Sans', sans-serif;*/
    font-family: charterregular, serif;
    font-size: 1.2rem;
    /*font-weight: 400;*/
    /*background-color: cornsilk;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.title-area .name a {
    font-size: 1.75rem;
}

.top-bar-section ul li > a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.0rem;
}

#homepage-hero-logo {
    padding: 40px;
}